.heart{
    display: block;
    margin: 150px auto;
    animation-name: myheart;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes myheart {
  0%{
    transform: scale(1);
   
  }
  25%{
    transform: scale(1.25);
    
  }
  50%{
    transform: scale(1.5);
  
  }
  75%{
    transform: scale(1.75);
    
  }
  100%{
    transform: scale(2);
   
  }
}
.heart2{
    width: 300px;
    height: 300px;
   
    background-image: url('../img/heart.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    animation-name: myheart;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}